<div class="show-contents">
  <p> <b>TItle:</b> <%= @book.title %></p>
  </br>
  <p> <b>Body:</b> <%= @book.body %></p>
  </br>
  <span class="button"><%= link_to "Edit", edit_book_path %></span>
  <span>|</span>
  <span class="button"><%= link_to "Back", books_path %></span>
</div>
