// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
     a:hover { color:white; text-decoration:none }
 }

.flash-message{
  margin: 40px;
  color: green;
}


.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  border: solid 3px red;
}

.error-box{
  width: 510px;
  border: solid 2px red;
  margin-bottom: 40px;
  background-color: #cccccc;
  position: relative;
}

.error-title{
  width: 508px;
  padding-left: 10px;
  background-color: #db0f20;
  color: white;
  font-weight: bold;
}


.error-message{
  margin-left: 40px;
  font-size: 12px;
}

.Books{
  margin-top: 40px;
  margin-left: 40px;
}

table{
  margin-top: 40px;
  margin-left: 40px;
}

.title{
  width: 250px;
  text-align: center;
}

.body{
  width: 500px;
  text-align: center;
}

.show{
  width: 60px;
  text-align: center;
}

.edit{
  width: 60px;
  text-align: center;
}

.destroy{
  width: 100px;
  text-align: center;
}

.title-text{
  text-align: left;
}

.body-text{
  text-align: left;
}


.New{
  margin: 30px 0 30px 40px;
}

.new-box{
  height: 200px;
}

// show
.show-contents{
  margin: 40px;
  
}

.button:hover{
  background-color: black;
}

// edit
.edit-main{
  margin: 40px;
}