// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
     a:hover { color:white; text-decoration:none }
 }

.Books{
  margin-left: 40px;
}

.main{
  margin:0 0;
  display: flex;
  flex-box:inline-block;
}

.title{
  width: 180px;
  margin-left: 40px;
  text-align: center;
  font-weight: bold;
  background-color: red;
}

.title-box{
  width: 100px;
  height: 30px;
  background-color: pink;
}

.title-comment{
  background-color: pink;
}

.body{
  width: 400px;
  text-align: center;
  font-weight: bold;
  background-color: blue;
}

.show{
  margin: 0 20px;
}

.edit{
  margin-right: 20px;
  background-color: red;
}


.New{
  margin: 30px 0 50px 40px;
}


// show
.show-contents{
  margin: 40px;
  
}

.button:hover{
  background-color: black;
}